<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgyFx52ltof8vbPczEcfHqtHVhURMyzQE</string>
	<key>GCM_SENDER_ID</key>
	<string>28775129651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navigation1</string>
	<key>PROJECT_ID</key>
	<string>dbfinalproject-1d397</string>
	<key>STORAGE_BUCKET</key>
	<string>dbfinalproject-1d397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28775129651:ios:d3795d8e79ef386852b946</string>
</dict>
</plist>